
  @font-face {
    font-family: 'Eina-bold';
    src: url("/assets/fonts/Eina01-Bold.ttf");
    src: url("/assets/fonts/Eina01-Bold.ttf") format("embedded-opentype"), url("/assets/fonts/Eina01-Bold.ttf") format("woff"), url("/assets/fonts/Eina01-Bold.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    }

    html,
    body {
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, "Eina-bold", Arial, sans-serif;
    line-height: 1.5rem;
    color: #333;
    min-width: 300px;
    }





.titulo_game {
  width: calc(20vw);
  margin:0 auto;
}
.titulo_game img {
  width:100%;
  min-width: 160px;
  align-content: center;
} 

.usuario{
    display: flex;
    justify-content:center;
    margin-top:60px;
}
.usuario > div {
    padding:10px;
}
.color_usuario {
  width: 150px;
  height: 150px;
  
  -ms-border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  margin: 0px auto;
}
#color_usuario_correcto {
  background-color: green;
}
#color_usuario_incorrecto_a {
  background-color: blue;
}

#color_usuario_incorrecto_b {
  background-color: red;
}


#color_maquina{  
    width: 300px;
    height: 300px; 
    background-color: beige;  
    color: grey;  
    -ms-border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  margin: 0px auto;  
    }  


  .content{
    align-content: center;
    text-align: center;
    
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
    
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 5s ease-in-out;
  }
    
  .popup h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    color: #333;
  }
  
  .popup .close:hover {
    color: #E5F720;
  }
  
  .popup .content-1,
  .content-2 {
    max-height: 30%;
    overflow: auto;
    text-align: center;
  }
  
  .show {
    visibility: visible !important;
    opacity: 100 !important;
  }
  
  #starRating li {
    display: inline-block;
  }
  
  #play-again {
    background-color: #141214;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    color: #ffffff;
    border-radius: 5px;
  }
  
 /*  Mobile */
@media (max-width: 767px) {
  .titulo_game {
    width: calc(60vw);
  }
  #color_maquina{  
    width: 200px;
    height: 200px;
  }

  .color_usuario {
    width: 90px;
    height: 90px;
  }


}